<app-side-navigation class="bg-color">
  <mat-card style="padding: 0">
    <app-header></app-header>
  </mat-card>
  <mat-card id="content">
    <div class="loading-container" *ngIf="loading">
      <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
    <router-outlet></router-outlet>
  </mat-card>
</app-side-navigation>
<div id="loadingScreen" [@fadeOut]="authenticationService.oidcLoaded | async">
  <img src="../assets/images/beeyond-logo-with-text.png" alt="Beeyond" />
</div>
