<mat-card-title>Create a new Blueprint</mat-card-title>
<mat-card-subtitle>Write your blueprint here:</mat-card-subtitle>
<mat-horizontal-stepper
  [linear]="true"
  (selectionChange)="stepperSelectionChange($event)"
  color="primary"
>
  <mat-step
    [completed]="!((blueprintType === 'Template' && templateId === null) || blueprintType === '')"
  >
    <ng-template matStepLabel><span *ngIf="!mobileQuery.matches">Select Type</span></ng-template>

    <div class="stepper-content">
      <div class="type-wrapper">
        <div
          class="border"
          style="flex: 1"
          mat-flat-button
          [ngClass]="blueprintType === 'Custom' ? 'selected' : ''"
          (click)="updateBlueprintType('Custom')"
        >
          <p style="margin: 5px">Custom</p>
          <p class="subtext">
            Describe your own Kubernetes object by submitting a YAML specification
          </p>
          <mat-icon style="margin: 5px">create</mat-icon>
        </div>
        <div
          class="border"
          style="flex: 1"
          mat-flat-button
          [ngClass]="blueprintType === 'Template' ? 'selected' : ''"
          (click)="updateBlueprintType('Template')"
        >
          <p style="margin: 5px">Template</p>
          <p class="subtext">Choose a predefined template with wildcards for you to fill in</p>
          <mat-icon style="margin: 5px">file_copy</mat-icon>
        </div>
      </div>
      <app-template-list
        style="margin-top: 10px"
        *ngIf="blueprintType === 'Template'"
        [templates]="templates"
        (templateIdEvent)="setTemplateId($event)"
      >
      </app-template-list>
    </div>

    <div class="button-container">
      <button
        mat-flat-button
        color="primary"
        matStepperNext
        [disabled]="(blueprintType === 'Template' && templateId === null) || blueprintType === ''"
        (click)="loadTemplate()"
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step
    [completed]="
      !(
        (blueprintType === 'Custom' && secondFormGroup.invalid) ||
        (blueprintType === 'Template' && templateForm && templateForm.invalid)
      )
    "
  >
    <ng-template matStepLabel><span *ngIf="!mobileQuery.matches">Set Content</span></ng-template>

    <div [formGroup]="secondFormGroup" style="height: 100%" *ngIf="blueprintType === 'Custom'">
      <ngx-monaco-editor
        [options]="monacoOptions"
        class="monaco-editor monaco-editor-border"
        formControlName="content"
        style="height: 100%"
        >´
      </ngx-monaco-editor>
    </div>

    <ng-container *ngIf="blueprintType === 'Template' && template" style="height: 100%">
      <mat-card-title>{{ template.name }}</mat-card-title>
      <mat-card-subtitle>{{ template.description }}</mat-card-subtitle>

      <form
        [formGroup]="templateForm"
        style="height: 100%; display: flex; flex-direction: column; justify-content: space-between"
      >
        <div>
          <div
            *ngFor="let field of template.fields; let i = index"
            class="field-container"
            formArrayName="fieldValues"
            style="display: flex; flex-direction: row"
          >
            <ng-container [formGroupName]="i">
              <mat-form-field style="width: 100%" class="full-width wildcard">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput formControlName="value" />
                <mat-error *ngIf="templateForm.get('fieldValues').invalid"></mat-error>
              </mat-form-field>
              <mat-icon
                matTooltip="{{
                  field.description ? field.description : 'No description available!'
                }}"
                matTooltipPosition="left"
                >help_outline
              </mat-icon>
            </ng-container>
          </div>
        </div>
        <button style="width: 100%" mat-stroked-button (click)="openDialog()" color="primary">
          Evaluate and Show
        </button>
      </form>
    </ng-container>

    <div class="button-container">
      <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
      <button
        mat-flat-button
        color="primary"
        matStepperNext
        (click)="loadServices()"
        [disabled]="
          (blueprintType === 'Custom' && secondFormGroup.invalid) ||
          (blueprintType === 'Template' && templateForm && templateForm.invalid)
        "
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step *ngIf="services.length !== 0">
    <ng-template matStepLabel
      ><span *ngIf="!mobileQuery.matches">Choose services</span></ng-template
    >
    <mat-card-title>Ingress creation</mat-card-title>
    <mat-card-subtitle>Select the services you want an ingress for</mat-card-subtitle>
    <div style="height: 100%">
      <div *ngFor="let service of services" style="display: flex; align-items: center">
        <mat-checkbox
          [(ngModel)]="service.selected"
          style="margin: 10px"
          color="primary"
        ></mat-checkbox>
        {{ service.name }}
      </div>
    </div>
    <div class="button-container">
      <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
      <button mat-flat-button color="primary" matStepperNext [disabled]="">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel
      ><span *ngIf="!mobileQuery.matches">Fill out information</span></ng-template
    >

    <div [formGroup]="thirdFormGroup" class="stepper-content filter-controls">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="note" />
        </mat-form-field>
      </div>

      <div style="display: inline-flex">
        <mat-form-field style="flex-grow: 1; margin-right: 1em">
          <mat-label>Class</mat-label>
          <input matInput formControlName="class" />
        </mat-form-field>

        <mat-form-field style="flex-grow: 1; margin-right: 1em">
          <mat-label>Namespace</mat-label>
          <mat-select formControlName="namespace">
            <mat-option *ngFor="let namespace of namespaces" [value]="namespace.namespace">
              {{ namespace.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="flex-grow: 1">
          <mat-label>To</mat-label>
          <input formControlName="to" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Purpose</mat-label>
          <input matInput formControlName="purpose" />
        </mat-form-field>
      </div>
    </div>

    <div class="button-container">
      <button mat-flat-button color="primary" matStepperPrevious>Previous</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="thirdFormGroup.invalid"
        (click)="createBlueprint()"
      >
        Create
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
