.filter-controls {
  display: flex;
  justify-content: space-between;

  & > * {
    flex: 0 0 49%;
  }
}

.applications-table {
  flex: 1;
  overflow-y: auto;
}

.selected-row {
  background-color: #f1f1f1;
}

.next-button {
  width: 5rem;
}
