/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-bg-color {
  background-color: #ffdf9e;
}

.secondary-bg-color {
  background-color: #b5813d;
}

.header-height {
  height: 80px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-card {
  width: 80%;
  box-sizing: border-box;
  height: 60%;
  margin: 3% 0 0 10%;
}
