<h2 mat-dialog-title>Add / Edit Constraint</h2>

<mat-dialog-content [formGroup]="form">
  <!-- Regex -->
  <mat-form-field *ngIf="form.controls['regex'] !== null">
    <mat-label>Regex</mat-label>
    <input matInput type="text" formControlName="regex" />
  </mat-form-field>

  <!-- Enum -->
  <mat-form-field *ngIf="enumControl !== null">
    <mat-label>Enum</mat-label>
    <mat-chip-list #enumList [disabled]="enumControl.disabled">
      <mat-chip
        *ngFor="let singleEnumValue of enumControl.value; let i = index"
        (removed)="removeEnum(i)"
      >
        {{ singleEnumValue }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Enum value..."
        [matChipInputFor]="enumList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addEnum($event)"
        [disabled]="enumControl.disabled"
      />
    </mat-chip-list>
  </mat-form-field>

  <!-- Min - Max -->
  <div *ngIf="form.controls['min'] !== null" class="min-max-container">
    <mat-form-field>
      <mat-label>Min</mat-label>
      <input matInput type="number" formControlName="min" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max</mat-label>
      <input matInput type="number" formControlName="max" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close="true">Cancel</button>
  <button mat-stroked-button color="warn" (click)="deleteConstraint()">Delete</button>
  <button mat-stroked-button (click)="createConstraint()" [disabled]="form.invalid">Create</button>
</mat-dialog-actions>
