.list-item {
  display: flex;
  padding: 15px;

  &:hover {
    background-color: #f5f5f5;
  }

  .list-item-text span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  .list-item-template-field {
    display: flex;
    margin-left: auto;
    align-items: center;

    mat-icon {
      padding-left: 10px;
    }
  }
}

.list-item-divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
