@import '../../../assets/scss/variables.scss';

:host {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 0 22px;
}

.menu-icon {
  margin-right: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-right: auto;
}

.no-outline {
  outline: none;
}
