.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 0 22px;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: auto;
}

.header-title {
  margin-left: 22px;
}

a[ng-reflect-router-link] {
  text-decoration: none;
  color: grey;
}

span[ng-reflect-router-link] {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
