@import '../../../../../assets/scss/variables.scss';

:host {
  @include flex-column;
}

.list-item {
  display: flex;
  padding: 16px;
  justify-content: space-between;

  .list-item-text {
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

.list-item-divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.eval-button {
  margin-top: auto;
  display: flex;

  & > button {
    flex: 1;
  }
}
