@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/custom-theme';

.add-container {
  display: flex;
  justify-content: flex-end;
}

.namespace-container {
  box-sizing: border-box;
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid mat-color($beeyond-light-primary);

  .title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.namespace-container:not(:first-child) {
  margin-bottom: 10px;
}
