@import '../../../../../assets/scss/variables.scss';

::ng-deep .card-entire-page mat-card-content mat-horizontal-stepper {
  @include flex-column;
  height: 100%;
}

::ng-deep .mat-horizontal-content-container {
  flex: 1;
  padding: 0 24px !important;

  & .mat-horizontal-stepper-content {
    height: 100%;
    @include flex-column;
  }
}

.wildcard-fields .wildcard-field-wrapper {
  margin-top: 1rem;
  @include flex-column;
}

.wildcard-label {
  font-size: 1.5rem;
}
