@import '../../../../../assets/scss/variables.scss';

.review-content {
  @include flex-column;
  flex: 1;

  & > * {
    flex: 1;
  }
}

#editable {
  height: 5%;
  display: flex;
  align-items: center;
}

#editable p {
  margin: 0;
}
