<ng-container *ngIf="isManagement">
  <mat-card-title>
    Reviewing: {{ (customApplication || templateApplication).owner.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ (customApplication || templateApplication).note }}</mat-card-subtitle>
</ng-container>

<div class="review-content">
  <mat-tab-group id="tab-group" style="height: 100%">
    <mat-tab label="Information">
      <ng-template matTabContent>
        <div class="review-content">
          <app-application-attributes
            [application]="application"
            style="padding-top: 10px"
          ></app-application-attributes>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Content" style="padding-top: 10px">
      <ng-template matTabContent>
        <ngx-monaco-editor
          *ngIf="customApplication"
          style="padding-top: 10px; height: 100%; overflow: hidden"
          [options]="monacoEditorOptions"
          [ngModel]="customApplication ? customApplication?.content : template?.content"
          (onInit)="onEditorInit($event)"
        ></ngx-monaco-editor>
        <app-variable-list
          style="padding-top: 10px"
          *ngIf="templateApplication"
          [fieldValues]="templateApplication.fieldValues"
          [templateId]="templateApplication.templateId"
        ></app-variable-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="button-container">
  <button mat-flat-button color="primary" [routerLink]="this.redirectPath">Back</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!isDenied"
    (click)="request()"
    class="update-button"
  >
    Request
  </button>
  <ng-container *ngIf="isManagement">
    <button mat-flat-button color="primary" [disabled]="!isPending" (click)="deny()">Deny</button>
    <button mat-flat-button color="primary" [disabled]="!isPending" (click)="approve()">
      Approve
    </button>
    <button mat-flat-button color="primary" [disabled]="!isRunning" (click)="finish()">
      Finish
    </button>
  </ng-container>
</div>
