<ng-container *ngIf="isManagement">
  <mat-card-title>
    Reviewing: {{ (customApplication || templateApplication).owner.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ (customApplication || templateApplication).note }}</mat-card-subtitle>
</ng-container>

<div class="review-content">
  <mat-tab-group id="tab-group" style="height: 100%">
    <mat-tab label="Information">
      <ng-template matTabContent>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
          "
        >
          <div class="review-content">
            <app-application-attributes
              [application]="application"
              style="padding-top: 10px"
            ></app-application-attributes>
          </div>
          <div
            style="display: flex"
            *ngIf="application.content?.includes('beeyond-create-ingress: \'true\'')"
          >
            <mat-form-field style="flex: 1">
              <mat-label>Ingress</mat-label>
              <input
                matInput
                value="{{ configService.config.hostUrl + application.namespace }}"
                readonly="true"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              style="margin-left: 10px; margin-bottom: 1.25rem"
              [cdkCopyToClipboard]="configService.config.hostUrl + application.namespace"
            >
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Content" style="padding-top: 10px; height: 100%">
      <ng-template matTabContent>
        <div style="height: 5%" id="editable" *ngIf="!isManagement && customApplication">
          <p *ngIf="application.status === denied || isPending">✏️ Whole content is editable</p>
          <p *ngIf="application.status === stopped">✏️ Only images are editable</p>
          <p *ngIf="isRunning">🔒 Content is not editable</p>
        </div>
        <ngx-monaco-editor
          *ngIf="customApplication"
          style="height: 95%; overflow: hidden"
          [options]="monacoEditorOptions"
          [formControl]="customForm"
          (onInit)="onEditorInit($event)"
        ></ngx-monaco-editor>
        <app-variable-list
          style="height: 100%"
          *ngIf="templateApplication"
          [fieldValues]="templateApplication.fieldValues"
          [templateId]="templateApplication.templateId"
        ></app-variable-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="button-container">
  <button mat-flat-button color="primary" [routerLink]="this.redirectPath">Back</button>
  <button
    mat-flat-button
    color="warn"
    *ngIf="application.status === running || application.status === stopped || isPending"
    (click)="finish()"
  >
    Finish
  </button>
  <ng-container *ngIf="isManagement">
    <button mat-flat-button color="primary" *ngIf="isPending" (click)="deny()">Deny</button>
    <button mat-flat-button color="primary" *ngIf="isPending" (click)="approve()">Approve</button>
  </ng-container>
  <ng-container *ngIf="!isManagement && customApplication">
    <button
      mat-flat-button
      color="primary"
      *ngIf="isDenied || isPending"
      [disabled]="!customForm?.dirty"
      (click)="save().subscribe()"
    >
      Save
    </button>
    <button mat-flat-button color="primary" *ngIf="isDenied" (click)="request()">Request</button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="application.status === stopped"
      (click)="start()"
    >
      Start
    </button>
    <button mat-flat-button color="primary" *ngIf="application.status === running" (click)="stop()">
      Stop
    </button>
  </ng-container>
</div>
