<ng-container *ngIf="isManagement">
  <mat-card-title>
    Reviewing: {{ (customApplication || templateApplication).owner.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ (customApplication || templateApplication).note }}</mat-card-subtitle>
</ng-container>

<div class="review-content">
  <ngx-monaco-editor
    *ngIf="customApplication"
    [options]="monacoEditorOptions"
    class="monaco-editor-border"
    [ngModel]="customApplication.content"
    (onInit)="onEditorInit($event)"
  ></ngx-monaco-editor>

  <app-variable-list
    *ngIf="templateApplication"
    [fieldValues]="templateApplication.fieldValues"
    [templateId]="templateApplication.templateId"
  ></app-variable-list>
</div>

<div class="button-container">
  <button mat-flat-button color="primary" [routerLink]="this.redirectPath">Back</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!isDenied"
    (click)="request()"
    class="update-button"
  >
    Request
  </button>
  <ng-container *ngIf="isManagement">
    <button mat-flat-button color="primary" [disabled]="!isPending" (click)="deny()">Deny</button>
    <button mat-flat-button color="primary" [disabled]="!isPending" (click)="approve()">
      Approve
    </button>
    <button mat-flat-button color="primary" [disabled]="!isRunning" (click)="finish()">
      Finish
    </button>
  </ng-container>
</div>
