<mat-card class="main-card">
  <mat-tab-group>
    <mat-tab label="Custom Blueprint">
      <div class="tab-wrapper">
        <mat-card-content>
          <form [formGroup]="customApplicationForm">
            <h3>The content of your script:</h3>
            <textarea rows="20" class="text-area-full-width" formControlName="content"></textarea>
            <h3>A small optional note:</h3>
            <textarea rows="3" class="text-area-full-width" formControlName="note"></textarea>
          </form>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-flat-button color="primary" (click)="sendCustomTemplate()"
                  [disabled]="!customApplicationForm.valid">
            Submit
          </button>
        </mat-card-actions>
      </div>
    </mat-tab>

    <mat-tab label="Template Blueprints">
      <div class="tab-wrapper">
        <app-template-list [templates]="templates" [routingEnabled]="true" routePath="/blueprint/template/{id}">
        </app-template-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
