<mat-card class="main-card">
  <mat-tab-group>
    <mat-tab label="Custom Blueprint">
      <div class="tab-wrapper">
        <mat-card-content>
          <h3>The content of your script:</h3>
          <textarea rows="20" class="text-area-full-width" [(ngModel)]="customTemplate.content"></textarea>
          <h3>A small optional note:</h3>
          <textarea rows="3" class="text-area-full-width" [(ngModel)]="customTemplate.note"></textarea>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-raised-button (click)="sendCustomTemplate()" [disabled]="customTemplate.content.length === 0">
            Send
          </button>
        </mat-card-actions>
      </div>
    </mat-tab>

    <mat-tab label="Template Blueprints">
      <div class="tab-wrapper">
        <app-template-list [templates]="templates" [routingEnabled]="true" routePath="/blueprint/template/{id}">
        </app-template-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
