.template-title {
  font-size: 20px !important;
}

.mat-card-actions {
  margin: 0 2px 6px 0 !important;
  padding: 0 !important;
}

.tab-wrapper {
  margin-top: 1rem;
}

.text-area-full-width {
  width: 100%;
  box-sizing: border-box;
}
