<mat-card class="card-entire-page">
  <mat-card-content>
    <mat-tab-group>

      <mat-tab label="Custom Blueprint">
        <ng-container [formGroup]="customApplicationForm">
          <h2>The content of your script:</h2>
          <ngx-monaco-editor [options]="monacoOptions" class="monaco-editor" formControlName="content">
          </ngx-monaco-editor>

          <mat-form-field class="full-width">
            <mat-label>An optional note:</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" formControlName="note">
            </textarea>
          </mat-form-field>
        </ng-container>

        <div class="button-container">
          <button mat-flat-button color="primary" (click)="sendCustomTemplate()"
            [disabled]="!customApplicationForm.valid">
            Submit
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Template Blueprints">
        <app-template-list [templates]="templates" [routingEnabled]="true" routePath="/blueprint/template/{id}">
        </app-template-list>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>
