:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1;

  mat-tab-body {
    margin-top: 1rem;

    .mat-tab-body-content {
      display: flex;
      flex-direction: column;
    }
  }
}

mat-tab-group {
  height: 100%;
}

.monaco-editor {
  flex: 1;
}

app-template-list {
  overflow: auto;
  height: 80%;
}
