:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1;

  mat-tab-body {
    margin-top: 1rem;

    .mat-tab-body-content {
      display: flex;
      flex-direction: column;
    }
  }
}

mat-tab-group {
  height: 100%;
}

.monaco-editor {
  flex: 1;
}

.center {
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-template-list {
  overflow: auto;
  height: 80%;
}

.hidden-field {
  display: none;
}
