@import '../../../assets/scss/variables.scss';

:host {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 0 22px;
}

.menu-icon {
  margin-right: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-right: auto;
}

.no-outline {
  outline: none;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: dimgrey;
  background-origin: content-box;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

::ng-deep .theme-toggle.mat-checked .mat-slide-toggle-thumb {
  background-image: url('../../../assets/images/dark-mode-icon.png') !important;
  background-color: dimgrey;
}

::ng-deep .theme-toggle .mat-disabled {
  opacity: 1 !important;
}

::ng-deep .theme-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: dimgrey;
}

::ng-deep .theme-toggle .mat-slide-toggle-thumb {
  background-color: #ffb909;
  background-image: url('../../../assets/images/light-mode-icon.png') !important;
}

::ng-deep .theme-toggle .mat-slide-toggle-bar {
  background-color: #ffb909;
}

img {
  max-width: 50%;
}
