@use '../../../../../assets/scss/styles.scss';

:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1;

  mat-tab-body {
    margin-top: 1rem;

    .mat-tab-body-content {
      @include styles.flex-column
    }
  }
}

mat-tab-group {
  height: 100%;
}