<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side" class="primary-bg-color side-nav" opened>
    <div class="header-height secondary-bg-color side-nav-header">Name: {{ name }}</div>
    <mat-nav-list class="side-nav-list">
      <mat-list-item
        mat-list-item
        class="unselectable"
        *ngFor="let item of agenda"
        [routerLink]="item.router"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="nav-list-item">{{ item.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
