$card-width: 50%;
$card-height: 46%;
$image-width: 50%;

#form-card {
  box-sizing: border-box;
  width: $card-width;
  height: $card-height;
  top: (100% - $card-height) / 2;
  left: (100% - $card-width) / 2;
  position: absolute;

  mat-card-content {
    height: 100%;
  }
}

.form-image {
  background-image: url("src/assets/bee-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  clip-path: polygon($image-width + 10% 0, 100% 0, 100% 100%, $image-width 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -16px 0 0 -16px !important;
  z-index: 2;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $image-width;
  height: 100%;

  mat-form-field {
    width: 100%;
    margin-bottom: 24px;
  }
}
