<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Handcrafted Blueprints</mat-card-title>
    <mat-card-subtitle>Crafted by our own busy bees</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-selection-list [multiple]="false" #blueprints>
      <mat-list-option class="template-wrapper" *ngFor="let template of templates">
        <span class="template-title">{{template.name}}</span>
        <span>{{template.description}}</span>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>select</button>
  </mat-card-actions>
</mat-card>
