<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>blueprints</mat-card-title>
    <mat-card-subtitle>our custom blueprints</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false" #blueprints>
      <mat-list-option>test1</mat-list-option>
      <mat-list-option>test2</mat-list-option>
      <mat-list-option>test3</mat-list-option>
      <mat-list-option>nginx</mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
