<mat-sidenav-container class="side-nav-container" autosize="true">
  <mat-sidenav mode="side" class="side-nav" opened>
    <div style="padding: 20px">
      <div class="side-nav-header">
        <div id="icon">
          <img src="assets/images/bee-purple.svg" alt="" />
        </div>
        <div>
          <span class="tiny-title">Good day 👋</span>
          {{ authenticationService.username | async }}
        </div>

        <!--<span [@minimized]="sidenavToggleService.minimized | async">
        {{ authenticationService.username | async }}
      </span>-->
      </div>
      <div class="spacer"></div>
      <div>
        <mat-nav-list class="side-nav-list">
          <mat-list-item
            mat-list-item
            *ngFor="let item of actualAgenda"
            [routerLink]="item.router"
            routerLinkActive="active"
            [disableRipple]="true"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span class="nav-list-item" [@minimized]="sidenavToggleService.minimized | async">
              {{ item.name }}
            </span>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="spacer"></div>
      <div>
        <span class="tiny-title">Notifications: {{ notifications.length }}</span>
        <div class="box">
          <div *ngFor="let notification of notifications; let i = index">
            <table>
              <tr [routerLink]="'/profile/review/' + notification.entityId" style="cursor: pointer">
                <td>
                  <mat-icon
                    *ngIf="notification.status == notificationStatus.POSITIVE"
                    style="color: #00ca4e; box-shadow: 0 0 7px 0 #00ca4e; border-radius: 50%"
                    >check_circle_outline
                  </mat-icon>
                  <mat-icon
                    *ngIf="notification.status == notificationStatus.NEUTRAL"
                    style="color: #ffbd44; box-shadow: 0 0 7px 0 #ffbd44; border-radius: 50%"
                    >info
                  </mat-icon>
                  <mat-icon
                    *ngIf="notification.status == notificationStatus.NEGATIVE"
                    style="color: #ff605c; box-shadow: 0 0 7px 0 #ff605c; border-radius: 50%"
                    >error_outline
                  </mat-icon>
                </td>
                <td>
                  <span style="font-size: 15px; line-height: 24px">{{ notification.message }}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div>
        <span class="tiny-title" style="display: inline">Theme</span>
        <mat-slide-toggle
          style="float: right"
          class="theme-toggle"
          [(ngModel)]="theme"
          (change)="toggleTheme()"
        ></mat-slide-toggle>
        <i class="fas fa-cloud-moon"></i>
      </div>
    </div>
    <div (click)="logOut()" id="log-out">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 10px 10px 10px 20px">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
