<mat-sidenav-container
  class="side-nav-container bg-color"
  autosize="true"
  (backdropClick)="sidenavService.minimized.next(!sidenavService.minimized.value)"
>
  <mat-sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    class="side-nav primary-bg-color"
    [opened]="sidenavService.minimized | async"
  >
    <div style="padding: 20px">
      <div class="side-nav-header">
        <div id="icon">
          <img src="assets/images/bee-purple.svg" alt="" />
        </div>
        <div>
          <span class="description">Hello, {{ authenticationService.firstname | async }} 👋</span>
        </div>
      </div>
      <div class="spacer"></div>
      <mat-nav-list class="side-nav-list">
        <mat-list-item
          mat-list-item
          *ngFor="let item of actualAgenda"
          [routerLink]="item.router"
          routerLinkActive="active"
          [disableRipple]="true"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="nav-list-item">
            {{ item.name }}
          </span>
        </mat-list-item>
      </mat-nav-list>
      <div class="spacer"></div>
      <div>
        <span class="description">Notifications: {{ notifications.length }}</span>
        <div
          class="bg-color box"
          style="display: flex; flex-direction: column; align-items: flex-end"
        >
          <span
            *ngIf="notifications.length !== 0 && notifications[0].createdAt > lastAccess"
            style="
              position: absolute;
              border-radius: 100%;
              background-color: #00ca4e;
              width: 15px;
              height: 15px;
              transform: translateX(15px) translateY(-15px);
            "
          ></span>
          <div class="notification" *ngFor="let notification of notifications; let i = index">
            <div [routerLink]="'/profile/review/' + notification.entityId" style="cursor: pointer">
              <span style="font-size: 13px">{{ notification.message }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div>
        <span class="description" style="display: inline">Theme</span>
        <mat-slide-toggle
          style="float: right"
          class="theme-toggle"
          [(ngModel)]="isDarkTheme"
          (change)="toggleTheme()"
        ></mat-slide-toggle>
        <i class="fas fa-cloud-moon"></i>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="padding: 10px 10px 10px 10px" class="bg-color">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
