@import '../../../../../assets/scss/styles';

:host {
  @include flex-column;
}

.wildcard-details {
  margin-top: 1rem;
  overflow: scroll;
}

.list-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  .list-item-text {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

.list-item-divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

ngx-monaco-editor {
  height: 15rem;
}
