<mat-card class="card-entire-page">
  <mat-card-title>
    Reviewing: {{ (customApplication || templateApplication).owner.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ (customApplication || templateApplication).note }}</mat-card-subtitle>

  <ngx-monaco-editor
    *ngIf="customApplication"
    [options]="monacoEditorOptions"
    class="monaco-editor-border"
    [ngModel]="customApplication.content"
  ></ngx-monaco-editor>

  <app-variable-list
    *ngIf="templateApplication"
    [fields]="templateApplication.fieldValues"
    [templateId]="templateApplication.templateId"
  ></app-variable-list>

  <div class="button-container">
    <button mat-flat-button color="primary" class="margin" (click)="deny()">Deny</button>
    <button mat-flat-button color="primary" (click)="approve()">Approve</button>
  </div>
</mat-card>
