<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of agenda">
        <mat-icon>{{item.icon}}</mat-icon>
        <span class="nav-list-item">{{item.name}}</span>
      </a>
    </mat-nav-list>
    <!--<mat-nav-list>
      <mat-list-item *ngFor="let item of agenda">
        <a href="https://google.com">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
