<h2>Application Information</h2>

<div>
  <div class="list-item item-hover" matRipple>
    <div class="list-item-text">Description</div>
    <div class="list-item-text right">
      {{ application.note }}
    </div>
  </div>
</div>

<div>
  <div class="list-item item-hover" matRipple>
    <div class="list-item-text">Class</div>
    <div class="list-item-text right">
      {{ application.class }}
    </div>
  </div>
</div>

<div>
  <div class="list-item item-hover" matRipple>
    <div class="list-item-text">Namespace</div>
    <div class="list-item-text right">
      {{ application.namespace }}
    </div>
  </div>
</div>

<div>
  <div class="list-item item-hover" matRipple>
    <div class="list-item-text">To</div>
    <div class="list-item-text right">
      {{ application.to }}
    </div>
  </div>
</div>

<div>
  <div class="list-item item-hover" matRipple>
    <div class="list-item-text">Purpose</div>
    <div class="list-item-text right">
      {{ application.purpose }}
    </div>
  </div>
</div>
