/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-bg-color {
  background-color: #ffdf9e;
}

.secondary-bg-color {
  background-color: #b5813d;
}

.header-height {
  height: 80px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.main-card {
  width: 80%;
  box-sizing: border-box;
  margin: 3% 0 0 10%;
}

.full-width {
  width: 100%;
}

.label {
  font-size: 1.2rem;
}

.description {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.67);
}
