<ng-container *ngIf="template">
  <mat-card-title>{{ template.name }}</mat-card-title>
  <mat-card-subtitle>{{ template.description }}</mat-card-subtitle>

  <ngx-monaco-editor
    [options]="monacoEditorOptions"
    class="monaco-editor-border"
    [ngModel]="template.content"
    style="height: 100%"
  ></ngx-monaco-editor>

  <div class="wildcard-details" *ngIf="template.fields.length > 0">
    <h2>Wildcards:</h2>

    <div class="wildcard-table-wrapper">
      <table>
        <tbody>
          <tr class="item-hover" *ngFor="let data of template.fields; let i = index">
            <td>%{{ data.wildcard }}%</td>
            <td>{{ data.label }}</td>
            <td>{{ data.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="button-container">
    <button mat-flat-button color="primary" [routerLink]="['/template']">Back</button>
    <button mat-flat-button color="warn" (click)="delete()">Delete</button>
  </div>
</ng-container>
