<div class="unselectable">
  <div *ngFor="let template of templates; let i = index">
    <div
      class="list-item item-hover"
      matRipple
      (click)="route(template.id)"
      [ngClass]="{ selected: selectedTemplateId == template.id }"
    >
      <div class="list-item-text">
        <span class="label">{{ template.name }}</span>
        <span class="description">{{ template.description }}</span>
      </div>
      <div class="list-item-template-field">
        {{ template.fields.length }} field{{ template.fields.length !== 1 ? 's' : '' }}
        <mat-icon>notes</mat-icon>
      </div>
    </div>

    <div class="list-item-divider" *ngIf="i !== templates.length - 1"></div>
  </div>
</div>
