.blueprint-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.field-container {
  padding-top: .8rem;
}

.field-label {
  font-size: 1.2rem;
}

.field-description {
  font-size: .9rem;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.67);
}
