@import '../assets/scss/variables.scss';

::ng-deep router-outlet + * {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: $router-content-width;
    min-height: $router-content-height;
    top: $router-content-top;
    left: (100% - $router-content-width) / 2;
    // The height in percentage takes the height of the parent.
    // Due to not having height but min-height it seems like the child can't calulcate the height
    // Setting the height to 1px fixes that. due to min-height the height will never be 1px
    height: 1px;
}
