@import '../assets/scss/variables.scss';

::ng-deep router-outlet + * {
  position: relative;
  top: $router-content-top;
  left: (100% - $router-content-width) / 2;
  display: table;
  box-sizing: border-box;
  width: $router-content-width;
  height: $router-content-height;
}

.bottom-spacer {
  height: $router-content-top;
  position: relative;
  top: $router-content-top;
}
