::ng-deep .card-entire-page mat-card-content mat-horizontal-stepper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep .mat-horizontal-content-container {
  flex: 1;
  padding: 0 24px !important;

  & .mat-horizontal-stepper-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.wildcard-fields .wildcard-field-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.wildcard-label {
  font-size: 1.5rem;
}

.stepper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.monaco-editor {
  flex: 1;
}
