// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'custom-colors';

@include mat-core();

$beeyond-light-primary: mat-palette($md-purple);
$beeyond-light-accent: mat-palette($md-lilac);
$beeyond-light-warn: mat-palette($mat-red);

$beeyond-light-theme: mat-light-theme(
  $beeyond-light-primary,
  $beeyond-light-accent,
  $beeyond-light-warn
);

@include angular-material-theme($beeyond-light-theme);

$beeyond-dark-primary: mat-palette($md-purple);
$beeyond-dark-accent: mat-palette($md-lilac);
$beeyond-dark-warn: mat-palette($mat-red);
$beeyond-dark-background: mat-palette($md-grey);

$beeyond-dark-theme: mat-dark-theme(
  $beeyond-dark-primary,
  $beeyond-dark-accent,
  $beeyond-dark-warn
);

.bg-color {
  background-color: white;
  color: black;
}

.darkMode {
  @include angular-material-theme($beeyond-dark-theme);

  .bg-color,
  .mat-drawer-container,
  #loadingScreen {
    background-color: mat-color($beeyond-dark-background) !important;
    color: white !important;
  }

  .primary-bg-color {
    background-color: mat-color($beeyond-dark-primary) !important;
    color: white !important;
  }

  mat-card-subtitle,
  .description,
  .mat-list-item,
  .mat-datepicker-toggle,
  .mat-option-text {
    color: white !important;
  }

  .item-hover:hover,
  .selected-row,
  .item-hover.selected {
    background-color: mat-color($beeyond-dark-background, darker) !important;
  }
}

.primary-bg-color {
  background-color: mat-color($beeyond-light-accent);
  color: white;
}
