/* You can add global styles to this file, and also import other style files */
@import 'custom-theme';
@import '~@angular/material/theming';

html,
body {
  height: 100%;
  background-color: #1e1e1e;
  color: #fff;
}

body {
  margin: 0;
  background-color: black;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.unselectable {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

// TODO: Remove later
.full-width {
  width: 100%;
}

.label {
  font-size: 1.2rem;
}
.description {
  font-size: 13px;
  color: #4c4c4c;
  display: block;
}

.monaco-editor-border {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  & > button:not(:first-child) {
    margin-left: 0.8rem;
  }

  & > button:only-child {
    margin-left: auto;
  }

  & > button:first-child:not(:only-child) {
    margin-right: auto;
  }
}

.monaco-application-inline {
  color: #0058e9 !important;
  text-decoration: underline;
  font-weight: bold;
}

.monaco-application-line-decoration {
  background: #0058e9;
  width: 5px !important;
  margin-left: 3px;
}

mat-sidenav-content > *:not(:first-child) {
  margin-top: 10px;
}

.item-hover {
  transition: background-color 100ms ease-in-out;
}

.item-hover:hover {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media screen and (max-device-width: 600px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-device-width: 600px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.editableArea--single-line {
  padding: 0 2px;
  border: 1px solid #9178ce;
  border-radius: 5px;
  background: transparent !important;
  margin-left: -3px;
}
