.control-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-field {
  width: 90%;
  display: inline-block;

  input, button mat-icon {
    font-size: 18px;
  }
}
